.app-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: color;
  background-image: linear-gradient(color, color);
  background-repeat: no-repeat;
  background-size: 0 100%;
  border-radius: 40px;
  color: color;
  font-family: Nunito;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: .4s;
}

.btn:hover {
  background-size: 100% 100%;
  color: color;
}

/* For Bootstrap referencing */

body::before {
  content: "XS";
  color: blue;
  font-size: 2rem;
  font-weight: bolder;
  position: fixed;
  top: 4em;
  right: 0;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}
