* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

.site-title {
    color: black !important;
    font-family: Bubbler One;
    font-size: 2rem;
    font-weight: bolder !important;
    text-decoration: none;
}

.main-navbar {
    background-color: white;
    color: black;
    margin: auto;
    max-width: 1400px;
    padding: 0% 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.navbar-collapse {
    background-color: white;
    padding: 1rem 0;
}

.navbar-toggler {
    border-radius: 40px;
    border: none;
    padding: 0.4rem;
}

.navbar-toggler:hover {
    background-color: #f0f0f0;
    transition: 0.4s;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-links {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-items {
    text-decoration: none;
    color: #444; 
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-family: Nunito;
}

.nav-items:hover {
    border-radius: 4px;
    color: black;
    font-weight: bolder;
    transition: color 0.5s;
}

.btn--contactme {
    background-color: #98c1d9;
    background-image: linear-gradient(black, black);
    color: black;
}
.btn--contactme:hover {
    color: #98c1d9;
}