.welcome-photo {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 40px;
}

.left-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1.5rem;
}

.hero-text {
    font-family: Nunito;
    font-size: 1rem;
    font-weight: bold;
    color: #444;
}

.highlight-word {
    font-size: 2.2rem;
    font-family: Philosopher;
    line-height: 1;
    color: #05084F;
}

/* SM devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .highlight-word {
        font-size: 3rem;
    }
}

/* MD devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .highlight-word {
        font-size: 4rem;
    }
}

/* L (desktops, 992px and up) */
@media (min-width: 992px) {
    .highlight-word {
        font-size: 3.5rem;
    }

    .left-container {
        justify-content: end;
    }
}

/* XL devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XXL devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

.btn--downloadcv {
    background-color: #9A3300;
    background-image: linear-gradient(black, black);
    color: white;
}
.btn--downloadcv:hover {
    color: #9A3300;
}

.btn--learnmore {
    background-color: #DEBE99;
    background-image: linear-gradient(black, black);
    color: black;

}
.btn--learnmore:hover {
    color: #DEBE99;
}