.Welcome {
    width: 80vw;
    height: 50vh;
}

.welcome-photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 40px;
}

.left-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

p .Welcome {
    font-family: Nunito;
    font-weight: bold;
    color: #444;
}

.highlight-word {
    font-size: 3rem;
    font-family: Philosopher;
    color: #05084F;
}

.hero-text {
    line-height: 1;
}

.btn--downloadcv {
    background-color: #9A3300;
    background-image: linear-gradient(black, black);
    color: white;
}
.btn--downloadcv:hover {
    color: #9A3300;
}

.btn--learnmore {
    background-color: #DEBE99;
    background-image: linear-gradient(black, black);
    color: black;

}
.btn--learnmore:hover {
    color: #DEBE99;
}